# copied from https://github.com/solana-developers/github-workflows/blob/main/.github/workflows/test.yaml

name: Test Program with artifact upload

on:
  pull_request:
    branches:
      - main
    paths:
      - "programs/**"
      - "tests/**"
      - "Anchor.toml"
      - "Cargo.toml"
      - "Cargo.lock"
  push:
    branches: [main]
    paths:
      - "programs/**"
      - "tests/**"
      - "Anchor.toml"
      - "Cargo.toml"
      - "Cargo.lock"
  workflow_dispatch:
    inputs:
      program:
        description: "Program to test"
        required: true
        default: "hello_solana"

jobs:
  test:
    uses: borisnieuwenhuis/github-workflows/.github/workflows/test.yaml@v1.0.0
    with:
      program: hello_solana
      testresults: ./test-results.xml

  process-results:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Download test results
        uses: actions/download-artifact@v4
        with:
          name: test-results

      - name: Publish unit test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: ./test-results.xml
